// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #F5F749;
$orange: #E67E22;
$green: #57737A;
$light-green: #219065;
$gray: #000000;
$light-gray: #F4F4F4;
$brown: #6D6466;

$lighter-gray: #FAFAFA;

$border-color: #e6e6e6;

$orange: #DB665E;

$headers-color: #454851;
$body-color: #6D6466;

$dark-blue: #0c3545;
$medium-blue: #1D7FBB;
$light-blue: #2a94d6;
