.large-content-page-container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
}

// .large-content-page-left {
//   width: 100vw;
//   height: 100vh;
//   position: relative;
//   margin-right: auto;
//   margin-left: auto;
//   padding-left: 15px;
//   padding-right: 20px;
//   h1 {
//     font-size: 56px;
//     padding-bottom: 16px;
//   }
// }

// .large-content-page-right {
//   width: 45vw;
//   height: 100vh;
// }

.large-content-page-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;
}
.large-content-page-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 65vw;
  height: 100vh;
    h1 {
    font-size: 56px;
    padding-bottom: 16px;
  }
}

.large-content-page-content {
  margin-top: 140px;
  padding: 24px;
}

.large-content-page-text {
  color: $brown;
  padding-right: 40px;
}

.website-link {
  color: $green;
  transition: color 0.3s ease;
  &:hover {
    color: $orange;
  }
}

//------- XS Screens ---------//

.small-content-page-container {
  h1 {
    font-size: 56px;
    margin-bottom: 20px
  }
}
.small-content-page-text {
  margin-bottom: 40px;
  color: $brown;
  text-align: justify;
}


//---------------------------//

// Different page cover images  and box colors //

.large-environment-image {
  background: image-url('fitz-roy.jpeg');
}
.large-environment-box {
  background-color: black;
}
.small-environment-box {
  background-color: #FFE9B3;
}

.large-coding-image {
  background: image-url('coding.jpeg');
}
.large-coding-box {
  background-color: #2d2b2b;
}
.small-coding-box {
  background-color: #E3A483;
}

.large-welcome-image {
  background: image-url('me-boat.jpeg');
}
.large-welcome-box {
  background-color: #ECEBEB;
}
.small-welcome-box {
  background-color: #9EABDA;
}

.large-sierra-image {
  background: image-url('beach.jpeg');
}
.large-sierra-box {
  background-color: #E0E0E0;
}
.small-sierra-box {
  background-color: #FFA4A4;
}

////////////////////////////////////////////////

///////////////////////////////////////////////

.large-content-page-image {
  height: 100vh;
  background-position: center;
  background-size: cover !important;
  overflow: hidden;
  width: 100%;
}

.large-content-page-box-large {
  position: absolute;
  width: calc(50% + 80px);
  bottom: 0;
  height: 35%;
  display: flex;
  align-items: center;
    h6 {
    font-size: 24px;
  }
}

.large-screen-box {
  left: -80px;
}

.box-text {
  position: absolute;
  padding: 16px 40px;
}
.black-box-text {
  color: white;
}

.large-content-page-box-small {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  height: 20%;
}
