.large-content-page-container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
}

.large-content-page-left {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 20px;
  h1 {
    font-size: 56px;
    padding-bottom: 48px;
  }
}

.large-content-page-content {
  margin-top: 160px;
}

.brown-text {
  color: #6D6466;
}

.large-content-page-right {
  width: 100vw;
  height: 100vh;
}

.website-link {
  color: $orange;
  transition: color 0.3s ease;
  &:hover {
    color: $orange;
  }
}

//------- XS Screens ---------//

.small-content-page-container {
  p {
    font-size: 14px;
    padding: 14px;
    margin-bottom: 20px
  }
  h1 {
    margin-bottom: 20px
  }
}


//---------------------------//

// Different page cover images  and box colors //

.large-environment-image {
  background: image-url('fitz-roy.jpeg');
}
.large-environment-box {
  background-color: black;
}
.small-environment-box {
  background-color: #FFE9B3;
}

.large-coding-image {
  background: image-url('coding.jpeg');
}
.large-coding-box {
  background-color: #B5ADAD;
}
.small-coding-box {
  background-color: #E3A483;
}

.large-welcome-image {
  background: image-url('me-boat.jpeg');
}
.large-welcome-box {
  background-color: #ECEBEB;
}
.small-welcome-box {
  background-color: #9EABDA;
}

.large-sierra-image {
  background: image-url('beach.jpeg');
}
.large-sierra-box {
  background-color: #E0E0E0;
}
.small-sierra-box {
  background-color: #FFA4A4;
}

////////////////////////////////////////////////

.large-content-page-image {
  height: 100vh;
  background-position: center;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
}

.large-content-page-box-large {
  position: absolute;
  width: calc(50% + 80px);
  left: -80px;
  bottom: 0;
  height: 35%;
}

.large-content-page-box-small {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  height: 20%;
}

.large-content-page-left-side-box {
  position: absolute;
  width: 10%;
  height: 35%;
  right: 0;
  bottom: 0;
}

// ARROWS //

// .up-arrow, .down-arrow {
//   text-align: center;
//   font-size: 32px;
//   &:hover {
//     color: $orange;
//     cursor: pointer;
//   }
// }
// .up-arrow {
//   color: $headers-color;
//   position: absolute;
//   top: 24px;
//   left: 50%;
// }
// .down-arrow {
//   color: #57737A;
//   position: absolute;
//   bottom: 24px;
//   left: 50%;
// }

.small-up-arrow, .small-down-arrow {
  text-align: center;
  font-size: 32px;
  color: $headers-color;
  &:hover {
    color: $orange;
    cursor: pointer;
  }
}

////////////////
