p {
  line-height: 24px;
}
h1 {
  color: #454851;
}
body {
  min-width: 300px;
  overflow-x: hidden;
  // _width: expression( document.body.clientWidth > 330 ? "330px" : "auto" );
}

.large-screen-display {
  overflow-x: hidden !important;
}

.whitespace {
  height: 200px;
  width: 100vw;
  background-color: #FAFAFA;
}
.small-whitespace {
  height: 80px;
  width: 100vw;
  background-color: #FAFAFA;
}

.col-xs-12 {
  padding: 0;
}
