<div class="footer">
  <div class="footer-left">
    <p>Made with <i class="fas fa-heart"></i> in the United Kingdom  •  Design by Harry Ryder</p></p>
  </div>
  <div class="footer-right">
    <a href="mailto:harrymryder@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
    <a href="https://www.linkedin.com/in/harryryder/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/hm_ryder" target="_blank"><i class="fab fa-twitter-square"></i></a>
  </div>
</div>
