<div class="header hidden-xs">
  <div class="header-left">
    <div class="header-text">
      <h2>harry ryder</h2>
      <p>An anthropology graduate - I'm interested in startups, technology and sustainability</p>
    </div>
    <!-- <i class="fas fa-angle-down down-arrow"></i> -->
  </div>
  <div class="header-right">
    <div class="header-headshot"></div>
  </div>
</div>

<div class="small-header hidden-sm hidden-md hidden-lg">
  <div class="small-header-content">
    <h2>harry ryder</h2>
    <p>An anthropology graduate - I'm interested in startups, technology and sustainability</p>
  </div>
</div>
