<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content">
      <div class="large-content-page-header">
        <h1>coding</h1>
      </div>
      <div class="large-content-page-text">
        <p>
          During the summer of 2018, I learnt to code at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s 9-week intensive bootcamp. During the final 2 weeks, 3 classmates and I built our first web application - Tripper. Click <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a> to watch me present our product at Google Campus in London.

          After completing the course, I taught at the bootcamp from October 2018 until Feburary 2019, helping the students through thier daily challenges.
        </p>
      </div>
    </div>
  </div>
  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-coding-image large-content-page-image">
        <div class="large-content-page-box-small">
        </div>
        <div class="large-content-page-box-large">
        </div>
      </div>
    </div>
  </div>
</div>
