<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
<!--     <div class="up-arrow">
      <i class="fas fa-angle-up"></i>
    </div> -->
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>coding</h1>
          <p class="brown-text">
            During the summer of 2018 I learnt to code at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s 9-week intensive bootcamp. During the final 2 weeks, 3 classmates and I built our first web application - a travel itinerary planner called <a href="https://www.trippper.online" class="website-link" target="_blank">Tripper</a>. Click <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a> to watch me present our product at Google Campus in London.
          </p>
          <p class="brown-text">
            After finishing the course I taught at the bootcamp until March 2019, helping the students through their daily challenges and building on my own skills.
          </p>
        </div>
      </div>
    </div>
    <div class="large-content-page-left-side-box large-coding-box"></div>
<!--     <div class="down-arrow">
      <i class="fas fa-angle-down"></i>
    </div> -->
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-coding-image large-content-page-image">
        <div class="large-content-page-box-small small-coding-box"></div>
        <div class="large-content-page-box-large large-coding-box"></div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
  <!-- <div class="small-up-arrow"><i class="fas fa-angle-up"></i></div> -->
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center">coding</h1>
        <p class="brown-text">
            During the summer of 2018 I learnt to code at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s 9-week intensive bootcamp. During the final 2 weeks, 3 classmates and I built our first web application - a travel itinerary planner called <a href="https://www.trippper.online" class="website-link" target="_blank">Tripper</a>. Click <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a> to watch me present our product at Google Campus in London.
          </p>
          <p class="brown-text">
            After finishing the course I taught at the bootcamp until March 2019, helping the students through their daily challenges and building on my own skills.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-coding-image large-content-page-image">
            <div class="large-content-page-box-small small-coding-box"></div>
            <div class="large-content-page-box-large large-coding-box"></div>
          </div>
        </div>
        <!-- <div class="small-down-arrow"><i class="fas fa-angle-down"></i></div> -->
      </div>
    </div>
  </div>
</div>


