<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left contact-form-page-left">
    <div class="up-arrow">
      <i class="fas fa-angle-up"></i>
    </div>
    <div class="large-content-page-content large-contact-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h2>contact</h2>
          <p>Please feel free to send me a message by filling out this form.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right contact-form-container">
    <form action="https://formspree.io/harrymryder@gmail.com" method="POST" class="contact-me-form">
      <input type="text" name="name" placeholder="your name" class="form-control transparent-input" autocomplete="off">
      <input type="email" name="_replyto" placeholder="your email" class="form-control transparent-input" autocomplete="off">
      <textarea type="textarea" name="message" placeholder="your message" class="form-control transparent-input"></textarea>
      <input type="submit" value="send" class="form-control submit-button">
    </form>
  </div>
</div>
