<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left contact-form-page-left">
    <!-- <i class="fas fa-angle-up up-arrow"></i> -->
    <div class="large-content-page-content large-contact-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h2>contact</h2>
          <p>Please feel free to send me a message by filling out this form.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right contact-form-container">
    <form action="https://formspree.io/harrymryder@gmail.com" method="POST" class="contact-me-form">
      <input type="text" name="name" placeholder="your name" class="form-control transparent-input" autocomplete="off">
      <input type="email" name="_replyto" placeholder="your email" class="form-control transparent-input" autocomplete="off">
      <textarea type="textarea" name="message" placeholder="your message" class="form-control transparent-input"></textarea>
      <input type="submit" value="send" class="form-control submit-button">
    </form>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content small-contact-page">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
                     data-aos-delay="500"
                     data-aos-duration="1000"
                     data-aos-anchor-placement="center-bottom">
          <h2 class="text-center">contact</h2>
          <p class="text-center">Please feel free to send me a message by filling out this form.</p>
        </div>
        <div data-aos="fade-zoom-in"
                     data-aos-duration="1000"
                     data-aos-anchor-placement="bottom-bottom">
          <form action="https://formspree.io/harrymryder@gmail.com" method="POST" class="small-contact-form">
            <input type="text" name="name" placeholder="your name" class="form-control transparent-input" autocomplete="off">
            <input type="email" name="_replyto" placeholder="your email" class="form-control transparent-input" autocomplete="off">
            <textarea type="textarea" name="message" placeholder="your message" class="form-control transparent-input"></textarea>
            <input type="submit" value="send" class="form-control submit-button">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
