<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content">
      <div class="large-content-page-header">
        <h1>the environment</h1>
      </div>
      <div class="large-content-page-text">
        <p>The Environment The Environment The Environment The Environment The Environment The Environment The Environment The Environment The Environment The Environment The Environment</p>
      </div>
    </div>
  </div>
  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-environment-image large-content-page-image">
        <div class="large-content-page-box-small">
        </div>
        <div class="large-content-page-box-large">
        </div>
      </div>
    </div>
  </div>
</div>
