<div class="environment">
  <div class="large-content-page-container hidden-xs">
    <div class="large-content-page-left">
      <div class="large-content-page-content">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h1>sustainability</h1>
            <div class="large-content-page-text">
              <p>
                I am a keen environmentalist and passionate about reversing climate change trends. My main interests lie in sustainable organic agriculture, renewable energy and sustainable transport.
              </p>
              <p>
                Whilst in Sierra Leone I have realised the urgent need for reliable and eco-friendly sources of energy. The hospital run by SSLDF suffers from frequent power cuts and the use of generators is polluting and expensive. Reliable electricity is vital for powering hospital equipment and medical machinery, and solar power would indeed seem a logical and life-changing solution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-content-page-right">
      <div class="large-content-page-visuals">
        <div class="large-environment-image large-content-page-image">
          <div class="large-content-page-box-small small-environment-box"></div>
          <div class="large-content-page-box-large large-environment-box large-screen-box">
            <div class="box-text">
              <h6 class="black-box-text">
                I became interested in environmentalism and sustainable business after reading Yvon Chouinard's <a href="https://www.amazon.co.uk/Let-People-Surfing-Education-Businessman-Including/dp/0143109677/ref=sr_1_1?keywords=let+my+people+go+surfing&qid=1557741120&s=gateway&sr=8-1" class="website-link" target="_blank">'Let My People Go Surfing'</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="center-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
          <h1 class="text-center">sustainability</h1>
          <div class="small-content-page-text">
            <p>
              I am a keen environmentalist and passionate about reversing climate change trends. My main interests lie in sustainable organic agriculture, renewable energy and sustainable transport.
            </p>
            <p>
              Whilst in Sierra Leone I have realised the urgent need for reliable and eco-friendly sources of energy. The hospital run by SSLDF suffers from frequent power cuts and the use of generators is polluting and expensive. Reliable electricity is vital for powering hospital equipment and medical machinery, and solar power would indeed seem a logical and life-changing solution.
            </p>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-environment-image large-content-page-image">
            <div class="large-content-page-box-small small-environment-box"></div>
            <div class="large-content-page-box-large large-environment-box">
              <div class="box-text">
                <div data-aos="fade-zoom-in"
                     data-aos-delay="50"
                     data-aos-duration="2000"
                     data-aos-anchor-placement="bottom-bottom">
                  <h6 class="black-box-text">
                    I became interested in environmentalism and sustainable business after reading Yvon Chouinard's <a href="https://www.amazon.co.uk/Let-People-Surfing-Education-Businessman-Including/dp/0143109677/ref=sr_1_1?keywords=let+my+people+go+surfing&qid=1557741120&s=gateway&sr=8-1" class="website-link" target="_blank">'Let My People Go Surfing'</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
