<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="up-arrow">
      <i class="fas fa-angle-up"></i>
    </div>
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>future plans</h1>
          <p class="brown-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, deserunt, recusandae. A aliquam, harum optio tempora ducimus soluta voluptate eaque quaerat. Consequuntur, recusandae fugiat pariatur officiis! Obcaecati, error. Quasi, saepe.</p>
        </div>
      </div>
    </div>
    <div class="large-content-page-left-side-box large-environment-box"></div>
    <div class="down-arrow">
      <i class="fas fa-angle-down"></i>
    </div>
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-environment-image large-content-page-image">
        <div class="large-content-page-box-small small-environment-box"></div>
        <div class="large-content-page-box-large large-environment-box"></div>
      </div>
    </div>
  </div>

</div>
