<div class="environment">
  <div class="large-content-page-container hidden-xs">
    <div class="large-content-page-left">
      <div class="large-content-page-content">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h1>sustainability</h1>
            <div class="large-content-page-text">
              <p>
                I am a keen environmentalist and passionate about reversing climate change trends. My main interests lie in sustainable organic agriculture, renewable energy and sustainable transport.
              </p>
              <p>
                Whilst in Sierra Leone I have realised the urgent need for reliable and eco-friendly sources of energy - the hospital run by SSLDF suffers from frequent power cuts and the use of generators is polluting and expensive. Reliable power is vital for powering hospital equipment and medical machinery. Solar power is the logical solution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-content-page-right">
      <div class="large-content-page-visuals">
        <div class="large-environment-image large-content-page-image">
          <div class="large-content-page-box-small small-environment-box"></div>
          <div class="large-content-page-box-large large-environment-box large-screen-box"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center">sustainability</h1>
        <div class="small-content-page-text">
          <p>
            I am a keen environmentalist and passionate about reversing climate change trends. My main interests lie in sustainable organic agriculture and renewable energy. Whilst in Sierra Leone I have realised both the need for reliable electricity in healthcare and the potential of solar power to foster social and economic change.
          </p>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-environment-image large-content-page-image">
            <div class="large-content-page-box-small small-environment-box"></div>
            <div class="large-content-page-box-large large-environment-box"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
