<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>hobbies and interests</h1>
          <div class="large-content-page-text">
            <p>
              I love travelling and experiencing new countries and the cultures within them. In recent years I have backpacked around Southern Africa, China and Nepal. My favourite hobbie is hiking, and Nepal is by far the most incredible country I have visited thus far - the Himalayas are absolutely breathtaking.
            </p>
            <p>
              I also enjoy all kinds of sports, in particular rugby and volleyball. Whilst I have never been much of a natural runner, I recently completed a half marathon and would love to challenge myself to complete the full thing in the near future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-hobbies-image large-content-page-image">
        <div class="large-content-page-box-small small-hobbies-box">
        </div>
        <div class="large-content-page-box-large large-hobbies-box large-screen-box">
          <div class="box-text">
            <h6>
              On top of Kyanjin Ri, 4779m - the highest point of the Langtang trek in Nepal
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="center-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
          <h1 class="text-center">hobbies and interests</h1>
          <div class="small-content-page-text">
            <p>
              I love travelling and experiencing new countries and the cultures within them. In recent years I have backpacked around Southern Africa, China and Nepal. My favourite hobbie is hiking, and Nepal is by far the most incredible country I have visited thus far - the Himalayas are absolutely breathtaking.
            </p>
            <p>
              I also enjoy all kinds of sports, in particular rugby and volleyball. Whilst I have never been much of a natural runner, I recently completed a half marathon and would love to challenge myself to complete the full thing in the near future.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-hobbies-image large-content-page-image">
            <div class="large-content-page-box-small small-hobbies-box"></div>
            <div class="large-content-page-box-large large-hobbies-box">
              <div class="box-text">
                <div data-aos="fade-zoom-in"
                     data-aos-delay="50"
                     data-aos-duration="2000"
                     data-aos-anchor-placement="bottom-bottom">
                  <h6>
                    On top of Kyanjin Ri, 4779m - the highest point of the Langtang trek in Nepal
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


