<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>hobbies and interests</h1>
          <div class="large-content-page-text">
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-hobbies-image large-content-page-image">
        <div class="large-content-page-box-small small-hobbies-box">
        </div>
        <div class="large-content-page-box-large large-hobbies-box large-screen-box">
          <div class="box-text">
            <h6 class="black-box-text">

            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="center-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
          <h1 class="text-center">hobbies and interests</h1>
          <div class="small-content-page-text">
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-hobbies-image large-content-page-image">
            <div class="large-content-page-box-small small-hobbies-box"></div>
            <div class="large-content-page-box-large large-hobbies-box">
              <div class="box-text">
                <div data-aos="fade-zoom-in"
                     data-aos-delay="50"
                     data-aos-duration="2000"
                     data-aos-anchor-placement="bottom-bottom">
                  <h6 class="black-box-text">

                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


