<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>sierra leone</h1>
          <div class="large-content-page-text">
            <p>
              In March 2019 I travelled to Sierra Leone to volunteer for an NGO called <a href="https://www.ssldf.com" class="website-link" target="_blank">SSLDF</a> (Swiss-Sierra Leone Development Foundation). SSLDF has set up a local hospital for the community and boarding school for orphaned and deprived children in Makeni. During my time here I worked as a Project Support Officer, assisting the fundraising and communications teams.
            </p>
            <p>
              Sierra Leone remains one of the poorest countries in the world with the highest mortality rates of pregnant women and children under-5. Living inside the hospital compound was an eye-opening experience and I would urge anyone to donate to SSLDF's cause - the work they are doing is incredible but they are lacking sufficient funding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-sierra-image large-content-page-image">
        <div class="large-content-page-box-small small-sierra-box"></div>
        <div class="large-content-page-box-large large-sierra-box large-screen-box">
          <div class="box-text">
            <h6>
              Sierra Leone is probably the safest and friendliest country I've ever visited, with the most incredible, deserted beaches.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
  <!-- <div class="small-up-arrow"><i class="fas fa-angle-up"></i></div> -->
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center">sierra leone</h1>
        <div class="small-content-page-text">
          <p>
            In March 2019 I travelled to Sierra Leone to volunteer for an NGO called <a href="https://www.ssldf.com" class="website-link" target="_blank">SSLDF</a> (Swiss-Sierra Leone Development Foundation). SSLDF has set up a local hospital for the community and boarding school for orphaned and deprived children in Makeni. During my time here I worked as a Project Support Officer, assisting the fundraising and communications teams.
          </p>
          <p>
            Sierra Leone remains one of the poorest countries in the world with the highest mortality rates of pregnant women and children under-5. Living inside the hospital compound was an eye-opening experience and I would urge anyone to donate to SSLDF's cause - the work they are doing is incredible, but sadly they lack sufficient funding.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-sierra-image large-content-page-image">
            <div class="large-content-page-box-small small-sierra-box"></div>
            <div class="large-content-page-box-large large-sierra-box">
              <div class="box-text">
                <h6>
                  Sierra Leone is probably the safest and friendliest country I've ever visited, with the most incredible, deserted beaches.
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="small-down-arrow"><i class="fas fa-angle-down"></i></div> -->
      </div>
    </div>
  </div>
</div>
