<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
<!--     <div class="up-arrow">
      <i class="fas fa-angle-up"></i>
    </div> -->
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>sierra leone</h1>
          <div class="large-content-page-text">
            <p>
              In March 2019 I travelled to Makeni, Sierra Leone to volunteer for the <a href="https://www.ssldf.com" class="website-link" target="_blank">Swiss-Sierra Leone Development Foundation</a> (SSLDF). SSLDF has set up Magbenteh Community Hospital and Magbenteh Community Boarding School.

              During my time here I worked as a Project Support Officer, where my main responsibility involved researching for and writing funding proposals for various upcoming projects at the hospital and the school.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-content-page-left-side-box large-sierra-box"></div>
<!--     <div class="down-arrow">
      <i class="fas fa-angle-down"></i>
    </div> -->
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-sierra-image large-content-page-image">
        <div class="large-content-page-box-small small-sierra-box"></div>
        <div class="large-content-page-box-large large-sierra-box"></div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
  <!-- <div class="small-up-arrow"><i class="fas fa-angle-up"></i></div> -->
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center">sierra leone</h1>
        <div class="small-content-page-text">
          <p>
            In March 2019 I travelled to Makeni, Sierra Leone to volunteer for the <a href="https://www.ssldf.com" class="website-link" target="_blank">Swiss-Sierra Leone Development Foundation</a> (SSLDF). SSLDF has set up Magbenteh Community Hospital and Magbenteh Community Boarding School.
            During my time here I worked as a Project Support Officer, where my main responsibility involved researching for and writing funding proposals for various upcoming projects at the hospital and the school.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-sierra-image large-content-page-image">
            <div class="large-content-page-box-small small-sierra-box"></div>
            <div class="large-content-page-box-large large-sierra-box"></div>
          </div>
        </div>
        <!-- <div class="small-down-arrow"><i class="fas fa-angle-down"></i></div> -->
      </div>
    </div>
  </div>
</div>
