<div class="large-content-page-container hidden-xs">

<div class="row">

  <div class="col-xs-12 col-sm-6">

    <div class="large-content-page-left">
      <div class="up-arrow">
        <i class="fas fa-angle-up"></i>
      </div>
      <div class="large-content-page-content">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h1>welcome</h1>
            <p>My name is Harry and this is a website I built for a bit of fun, but also as a way to tell my story. Scroll down to read about what I've done with my life so far, my passions, and my plans for the future.</p>
          </div>
        </div>
      </div>
      <div class="large-content-page-left-side-box large-welcome-box"></div>
      <div class="down-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-6">

    <div class="large-content-page-right">
      <div class="large-content-page-visuals">
        <div class="large-welcome-image large-content-page-image">
          <div class="large-content-page-box-small small-welcome-box"></div>
          <div class="large-content-page-box-large large-welcome-box"></div>
        </div>
      </div>
    </div>

  </div>

</div>


</div>
