<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content welcome-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>welcome</h1>
          <div class="large-content-page-text">
            <p>
              My name is Harry and I'm currently working in Makeni, Sierra Leone.
            </p>
            <p>
              I studied <strong>anthropology at Durham University</strong> in the U.K. and graduated in 2017. Later that year I joined <a href="https://www.what3words.com/london" class="website-link" target="_blank">what3words</a> - a global startup that has divided the world into a grid of 57 trillion 3x3m squares and given each square a unique 3 word address.
            <p>
            </p>
              In June 2018, I left with the desire to <strong>learn to code</strong> and then became a teaching assistant at the same coding bootcamp I attended. Today, you will find me in the small city of Makeni in Sierra Leone volunteering for an NGO called SSLDF.
            </p>
            <p>
              I built this website to help tell my story.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-welcome-image large-content-page-image">
        <div class="large-content-page-box-small small-welcome-box"></div>
        <div class="large-content-page-box-large large-welcome-box large-screen-box">
          <div class="box-text">
            <h6>
              I am currently looking for my next challenge, specifically at a startup that makes a difference or a company focused on sustainability
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="center-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
          <h1 class="text-center">welcome</h1>
          <div class="small-content-page-text">
            <p>
              My name is Harry and I'm currently working in Makeni, Sierra Leone.
            </p>
            <p>
              I studied <strong>anthropology at Durham University</strong> in the U.K. and graduated in 2017. Later that year I joined <a href="https://www.what3words.com/london" class="website-link" target="_blank">what3words</a> - a global startup that has divided the world into a grid of 57 trillion 3x3m squares and given each square a unique 3 word address.
            <p>
            </p>
              In June 2018, I left with the desire to <strong>learn to code</strong> and then became a teaching assistant at the same coding bootcamp I attended. Today, you will find me in the small city of Makeni in Sierra Leone volunteering for an NGO called SSLDF.
            </p>
            <p>
              I built this website to help tell my story.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-welcome-image large-content-page-image">
            <div class="large-content-page-box-small small-welcome-box"></div>
            <div class="large-content-page-box-large large-welcome-box">
              <div class="box-text">
                <div data-aos="fade-zoom-in"
                     data-aos-delay="50"
                     data-aos-duration="2000"
                     data-aos-anchor-placement="bottom-bottom">
                  <h6>
                    I am currently looking for my next challenge, specifically at a startup that makes a difference or a company focused on sustainability
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
