<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
    <div class="large-content-page-content welcome-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>welcome</h1>
          <div class="large-content-page-text">
            <p>
              My name is Harry and I'm currently working in Makeni, Sierra Leone.
            </p>
            <p>
              I studied <strong>anthropology at Durham University</strong> and graduated in 2017. Later that year, I started work at <a href="https://www.what3words.com/london" class="website-link" target="_blank">what3words</a>- a startup that has divided the world into a grid of 57 trillion 3x3m squares and given each square a unique 3 word address.
            <p>
            </p>
              After leaving in June 2018, <strong>I learnt to code</strong> and then became a teaching assistant at the same coding bootcamp. Now, I am volunteering for an NGO called the Swiss-Sierra Leone Development Foundation in Sierra Leone.
            </p>
            <p>
              I built this website to help tell my story.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-welcome-image large-content-page-image">
        <div class="large-content-page-box-small small-welcome-box"></div>
        <div class="large-content-page-box-large large-welcome-box large-screen-box">
          <div class="box-text">
            <h6>
              I am currently looking for my next challenge, specifically at an exciting startup or a company focused on sustainability
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center">welcome</h1>
        <div class="small-content-page-text">
          <p>
            My name is Harry and I'm currently working in Makeni, Sierra Leone.
          </p>
          <p>
            I studied <strong>anthropology at Durham University</strong> and graduated in 2017. Later that year, I started work at <a href="https://www.what3words.com/london" class="website-link" target="_blank">what3words</a>- a startup that has divided the world into a grid of 57 trillion 3x3m squares and given each square a unique 3 word address.
          </p>
          <p>
            After leaving in June 2018, <strong>I learnt to code</strong> and then became a teaching assistant at the same coding bootcamp. Now, I am volunteering for an NGO called the Swiss-Sierra Leone Development Foundation in Sierra Leone.
          </p>
          <p>
            I built this website to help tell my story.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-welcome-image large-content-page-image">
            <div class="large-content-page-box-small small-welcome-box"></div>
            <div class="large-content-page-box-large large-welcome-box">
              <div class="box-text">
                <h6>
                  I am currently looking for my next challenge, specifically at an exciting startup or a company focused on sustainability
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
