<%= render 'pages/banner' %>

<div class="light-blue-banner banner">
  <div class="container top-container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
          <h4>My story</h4>
        </div>
        <div data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
          <p class="text-justify">Hey, my name is Harry and I'm a full stack developer. In July 2017, I graduated from Durham University with a degree in Anthropology, and subsequently began to pursue my passion for technology startups. In November later that year, I moved to London to start a new job in the Business Development team at a startup called <a href="https://www.what3words.com" class="website-link" target="_blank">what3words</a>. During my time there, I was lucky enough to travel to a number of different cities across the world, such as San Francisco, Los Angeles and Tokyo, and enjoyed gaining a formal introduction into the world of startups.</p>
        </div>

        <div data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
          <p class="text-justify">However, in June 2018, I left what3words after deciding that I wanted to try and be the person helping to build such amazing technologies, rather than the person selling them. So, in July 2018 I enrolled at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s coding bootcamp in London. Le Wagon is an intensive 9-week coding bootcamp, during which I, and 3 other team members, managed to build our first ever web app - Tripper. On the last day of the bootcamp, I presented our project in front of 200 people at Google Campus, which you can watch <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a>.</p>
        </div>

        <div data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
          <p class="text-justify">After finishing Le Wagon in mid-September, I'm now actively looking for work as a junior developer, preferably at a London-based startup.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
          <div class="info-card">
            <h3>Education</h3>
            <ul>
              <li>
                <p><strong>Le Wagon - </strong>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GutHub, Heroku and Ruby on Rails</p>
              </li>
              <li>
                <p><strong>Durham University - </strong>Achieved grade: Upper Second Class Honours (2.1)</p>
              </li>
              <li>
                <p><strong>Wycliffe College - </strong>A Levels: English Literature A*, Economics A, History A; GCSEs: 8 A* Grades, 3 A Grades</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center">
          <div class="info-card">
            <h3>Professional experience</h3>
            <ul>
              <li>
                <p><strong>what3words, Business Development - </strong>joined as the 45th employee of what3words, a fast-growing London-based startup</p>
              </li>
              <li>
                <p><strong>PwC (PricewaterhouseCoopers), Management Consulting Intern - </strong>offer received for full-time employment but turned down to pursue experience in startups</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="info-card">
          <div data-aos="fade-up" data-aos-duration="3000" data-aos-anchor-placement="top-center">
            <h3>Hobbies and interests</h3>
            <ul>
              <li>
                <p><strong>Music - </strong>my favourite bands include Tame Impala, Pink Floyd and War on Drugs</p>
              </li>
              <li>
                <p><strong>Travelling - </strong>recent trips include backpacking across China and Africa</p>
              </li>
              <li>
                <p><strong>Hiking - </strong>keen hiker and enjoy escaping to the Lake District whenever possible</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="dark-blue-banner banner">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
           data-aos-delay="50"
           data-aos-offset="0"
           data-aos-duration="1000"
           data-aos-anchor-placement="top-center">
        <div class="contact-me-form">

          <h4>Feel free to get in touch</h4>

          <form action="https://formspree.io/harrymryder@gmail.com" method="POST">
            <input type="text" name="name" placeholder="Your name" class="form-control transparent-input" autocomplete="off">
            <input type="email" name="_replyto" placeholder="Your email" class="form-control transparent-input" autocomplete="off">
            <textarea name="message" placeholder="Your message" class="form-control transparent-input"></textarea>
            <input type="submit" value="SEND" class="form-control submit-button">
          </form>

        </div>
      </div>
    </div>
  </div>

</div>



