.footer {
  width: 100vw;
  padding: 50px;
  height: 150px;
  background-color: #08222b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab, .fas {
  color: white;
  font-size: 32px;
  margin: 0px 32px;
  &:hover {
    color: $light-blue;
  }
}

.footer-right {
  a {
    width: 16px;
  }
}
