.footer {
  width: 100vw;
  height: 200px;
  background-color: #454851;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.large-screen-footer {
  position: absolute;
  bottom: 0;
}

.footer-top {
  font-size: 12px;
  text-align: center;
  margin: 16px;
}

.footer-bottom {
  margin-top: 16px;
}

.fa-envelope-square,
.fa-linkedin,
.fa-twitter-square {
  color: white;
  font-size: 32px;
  margin: 0px 24px;
  transition: color 0.3s ease;
  &:hover {
    color: #F5F749;
  }
}

.fa-heart {
  color: $orange;
  font-size: 16px;
  margin: 0 !important;
  &:hover {
    color: $orange;
  }
}


